# &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Python ile sqlite veritabanı ve tablo oluşturma

<IMG src="./sqlogo.jfif" width="100" height="100">

In [1]:
# sqlite kullanmak için öncelikle sqlite3 modülünü import etmeliyiz
import sqlite3
from sqlite3 import Error

In [2]:
# seçilen veritabanı dosyasına connection yapan (veritabanı mevcut değilse oluşturan ve bağlanan) bir fonksiyon tanımlıyoruz
# def içine sadece con = sqlite.connect(db_file) yazabilirdik ama hata kontrollü olsun istedik.
def connection_olustur(db_file):
    con = None
    try:
        con = sqlite3.connect(db_file)
        print("connection oluşturuldu...")
    except Error as e:
        print("hata oluştu ", e)
    return con

In [3]:
# fonksiyonu çalıştırıp bağlantı nesnesi oluşturuyoruz - tanımladığımız bildirim mesajını verecek
sqlite_connection = connection_olustur("kutuphane.db")

connection oluşturuldu...

In [4]:
# hata durumunda veritabına bağlanamadıysa ya da oluşturamadıysa programdan çıkış yapsın diye bir kod yazalım
if sqlite_connection == None:
    print("veritabanına bağlantı sağlanamadı. Program kapanıyor.")
    exit()

### Veritabanında tablo oluşturma

In [5]:
# tablo için önce cursor nesnesi oluşturmalıyız
cursor = sqlite_connection.cursor()

In [6]:
# tablo oluşturmak için tablo oluştururken oluşabilecek hataları gösteren bir fonksiyon yazalım
def tablo_olustur(curs):
    try:
        curs.execute("CREATE TABLE IF NOT EXISTS kitaplar (kitapadi TEXT, yazar TEXT, kitapno INT, sayfasayisi INT )")
    except Error as e:
        print("hata oluştu ", e)

In [7]:
# kitaplar isimli tabloyu kutuphane veritabanı içinde oluşturalım
tablo_olustur(cursor)
sqlite_connection.commit()

### Tabloya kayıt atma işlemi

In [9]:
cursor.execute("INSERT INTO kitaplar VALUES ('Da vinci sifresi', 'dan brown', 1000, 495)")

In [10]:
# işlemden sonra mutlaka commit gerekir
sqlite_connection.commit()

In [11]:
cursor.execute("INSERT INTO kitaplar VALUES ('Dune', 'frank herbert', 1001, 297)")

In [12]:
sqlite_connection.commit()

In [13]:
cursor.execute("INSERT INTO kitaplar VALUES ('Yüzüklerin efendisi', 'J.R.R. Tolkien', 1002, 1026)")

In [14]:
sqlite_connection.commit()

### Tablodan kayıt çekme

In [15]:
cursor.execute("SELECT * FROM kitaplar ")
# "*" olunca herşey seçilir. "*" yerine "kitapadi" yazsaydik sadece kitapadi gelirdi. "*" yerine "kitapadi, yazar" gibi çoklu bilgi de girilebilir

In [16]:
cekilen_veri = cursor.fetchall()

In [17]:
for each in cekilen_veri:
    print(each)

('Da vinci sifresi', 'dan brown', 1000, 495)
('Dune', 'frank herbert', 1001, 297)
('Yüzüklerin efendisi', 'J.R.R. Tolkien', 1002, 1026)

##### Örnek

In [18]:
# sayfa sayısı 400 den çok olan kitapları görelim
cursor.execute("SELECT * FROM kitaplar WHERE sayfasayisi > 400 ")

In [19]:
cekilen_veri = cursor.fetchall()

In [20]:
for each in cekilen_veri:
    print(each)

('Da vinci sifresi', 'dan brown', 1000, 495)
('Yüzüklerin efendisi', 'J.R.R. Tolkien', 1002, 1026)

#### Örnek

In [23]:
# yazarı dan brown olan kitapları görelim
cursor.execute("SELECT * FROM kitaplar WHERE yazar = 'dan brown' ")

In [24]:
cekilen_veri = cursor.fetchall()

In [25]:
for each in cekilen_veri:
    print(each)

('Da vinci sifresi', 'dan brown', 1000, 495)

### Tablodaki verileri güncelleme

In [26]:
cursor.execute("UPDATE kitaplar SET sayfasayisi = 999 WHERE sayfasayisi > 400 ")

In [27]:
cursor.execute("SELECT * FROM kitaplar ")

In [28]:
cekilen_veri = cursor.fetchall()

In [29]:
for each in cekilen_veri:
    print(each)

('Da vinci sifresi', 'dan brown', 1000, 999)
('Dune', 'frank herbert', 1001, 297)
('Yüzüklerin efendisi', 'J.R.R. Tolkien', 1002, 999)

In [30]:
sqlite_connection.commit()
#bunu unutma yoksa veritabanı üzerine kaydetmez.

### Tablodan veri silme

In [31]:
# 1001 id numaralı kitabı silelim
cursor.execute("DELETE FROM kitaplar WHERE kitapno = 1001 ")

In [32]:
cursor.execute("SELECT * FROM kitaplar ")
cekilen_veri = cursor.fetchall()
for each in cekilen_veri:
    print(each)

('Da vinci sifresi', 'dan brown', 1000, 999)
('Yüzüklerin efendisi', 'J.R.R. Tolkien', 1002, 999)

In [33]:
sqlite_connection.commit()

In [34]:
# oluşturduğumuz veritabanı bağlantısını program sonunda kapatıyoruz
# bu en son satırda olsun
if sqlite_connection:
    sqlite_connection.close()